/* // Medium devices (tablets, less than 992px) */
@media screen and ( max-width: 992px) {

    .container{
        max-width: 992px;
        margin: 0 auto;
    }
    .top-banner{
        padding: 30px;
        margin-top: 20px;
        width: 90%;
        font-size: 14px;
        font-weight: 400;
    }
    .top-banner h1{
        font-size: 40px;

    }
    .right-section img{
        width: 100%;
    }
    .btn{
        width: 50%;
    }
    .btn-view{
        display: block
    }

    .content-page{
    display: flex;
    flex-direction: column;
    }
    .content-nav{
        display: flex;
        justify-content: space-between;
        background: none;
        height: 100%;
        width: 90%;
        margin: 0 auto;
    }

    .content-nav ul{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .main-content-section{
        margin: 0 auto;
        padding: 2% 0;
    }
    .contents{
        display: grid;
        grid-template-columns: repeat(2, 420px);
    }
    .content img{
        max-width: 400px;
    }
    .content{
        margin: 0 auto;
        width: 400px;
    }
    
    footer{
        margin-top: 10%;
    }
  .matchs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
  }


  }


  /* Small devices (landscape phones, less than 768px) */
@media screen and (max-width: 768px) {
    .right-section{
        width: 100%;
        /* position: relative;
        left: -15%; */
    }
    .left-section{
        width: 90%;
    }
    .logo img{
        width: 30px;
    }
   .top-banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .top-banner h1{
    font-size: 22px;
  }
  .btn-view{
    width: 100px;
  }
  .content-nav ul{
    display: flex;
    flex-direction: column;
}
.contents{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 1%;
    margin-bottom: 30%;

}
.matchs{
    display: grid;
    grid-template-columns: repeat(1,1fr );
    margin: 0 auto;
}
.right-section img{
    width: 100%;
}
}



 /* X-Small devices (portrait phones, less than 576px) */
 @media screen and (max-width: 576px) {
    .top-banner{
        padding: 20px;
    }
    .left-section{
        width: 100%;
    }
    
    .left-section p{
        line-height: 2rem;
    }

    .right-section{
        width: 100%;
    }
    .right-section img{
        width: 100%;
    }
    .content img{
        max-width: 250px;
    }
    .content{
        width: 250px;
    }
    .matchs{
        display: grid;
        grid-template-columns: repeat(1,1fr );
        margin: 0 auto;
    }
    .other-links ul{
        display: flex;
        flex-direction: column;
    }
  }


